html {
	height: 100%;
}

body {
	height: 100%;
}

a {
	text-decoration: none;
}

hr {
	border-top: 1px solid $color-hr;
	margin: 50px auto;
	text-align: center;
	width: 30%;
}


nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

//
//---------------------------------
//	LAYOUT HELPERS
//---------------------------------
//
// Box sizing fix.
*, :after, :before, ::before, ::after {
	@include box-sizing;
}

// Clearfix - this should be extended.
.clearfix:after {
	content: "";
  display: table;
  clear: both;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.centred {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.vertically-centred {
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// This helper class is added to elements which need to be hidden on phone-sizes.
@include between-breakpoints(0, ($tablet-width - 1)) {
  .hidden-phone {
    display: none;
  }
}


//
//---------------------------------
//	SPECIALTY
//---------------------------------
//
.bg-left-fade {
	background: url(../img/bg-left-fade.png) no-repeat bottom left;
	@include background-size(100%, auto);
}








