html {
	height: 100%;
}

body {
	height: 100%;
}

a {
	text-decoration: none;
}

hr {
	border-top: 1px solid $color-hr;
	margin: 50px auto;
	text-align: center;
	width: 30%;
}

//
//---------------------------------
//	NAV
//---------------------------------
//
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		a, a:link, a:visited, a:hover, a:active {
			text-decoration: none;
		}
	}
}

//
//---------------------------------
//	TABS
//---------------------------------
//
nav.tabs ul {
	display: inline-block;
	margin: 5px 0;

	li {
		float: left;
	}

	li a {
		border-bottom: 1px solid #eee;
		color: $color-nav-tabs-text;
		display: block;
		//font-weight: bold;
		padding: 10px 15px;
	}
	li.current a {
		border: 1px solid #eee;
		border-bottom: none;
		color: $color-nav-tabs-current-text;
		@include rounded-explicit(6px, 6px, 0, 0);
	}
}
@include breakpoint(phone) {
	nav.tabs ul {
		font-size: 14px;
	}
}
@include breakpoint(tablet-landscape) {
	nav.tabs ul {
		font-size: 18px;
	}
}


//
//---------------------------------
//	LAYOUT HELPERS
//---------------------------------
//
// Box sizing fix.
*, :after, :before, ::before, ::after {
	@include box-sizing;
}

// Clearfix - this should be extended.
.clearfix:after {
	content: "";
  display: table;
  clear: both;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.centred {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}

// This helper class is added to elements which need to be hidden on phone-sizes.
@include between-breakpoints(0, ($tablet-width - 1)) {
  .hidden-phone {
    display: none;
  }
}


//
//---------------------------------
//	INPUTS
//---------------------------------
//
input, textarea {
	background: $color-input-bg;
	border: none;
	color: $color-body;
	font-family: $font-stack;
	font-size: $body-font-size;
	font-weight: normal;
	outline: none;
	padding: 15px;
	@include rounded(8px);
}

.bg-dark input, .bg-dark textarea {
	background: rgba(255,255,255,0.2);
	border: 2px solid #fff;
	color: #fff;
}


//
//---------------------------------
//	TABLES
//---------------------------------
//
table {
	margin: 10px 0;
	width: 100%;
}
table th, table td {
	padding: 8px 5px;
}
table thead tr th {
	border-bottom: 2px solid $color-tabler-border;
	color: $color-table-header;
	font-size: $body-font-size * 0.6;
	//font-weight: 100;
	text-transform: uppercase;
}
table tbody tr td {
	border-bottom: 1px solid $color-tabler-border;
}
table tbody tr:last-of-type td {
	border-bottom: 2px solid $color-tabler-border;	
}


//
//---------------------------------
//	SPECIALTY
//---------------------------------
//
.bg-left-fade {
	background: url(../img/bg-left-fade.png) no-repeat bottom left;
	@include background-size(100%, auto);
}











