html {
	height: 100%;
}

body {
	height: 100%;
}

a {
	text-decoration: none;
}

hr {
	border-top: 1px solid $color-hr;
	margin: 30px auto;
	text-align: center;
	width: 30%;
}


// Box sizing fix.
*, :after, :before, ::before, ::after {
	@include box-sizing;
}

// Clearfix - this should be extended.
.clearfix:after {
	content: "";
  display: table;
  clear: both;
}


nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}