//
//---------------------------------
//	CORE
//---------------------------------
//
.btn {
	background: #d0d3d5;
	display: inline-block;
	padding: 15px 25px;
	@include rounded(8px);
}

a.btn {
	text-decoration: none;
}

.bg-dark {
	.btn {
		background: rgba(255,255,255,0.1);
		border: 2px solid #fff;
		border: 2px solid rgba(255,255,255,0.8);
		color: #fff;
	}
}

//
//---------------------------------
//	RESPONSIVE
//---------------------------------
//
@include breakpoint(phone) {
	.btn {
		font-size: $btn-font-size-phone;
	}
}

@include breakpoint(tablet) {
	.btn {
		font-size: $btn-font-size;
	}
}







