.site-header {
	display: block;
	margin: 0 auto;
	text-align: center;
}


/* Logo */
.site-header .logo {
	background: #ccc;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	height: 48px;
	line-height: 2.8em;
	margin: 10px 0 0 0;
	text-transform: uppercase;
	vertical-align: top;
	width: 150px;
	@include rounded(24px);

	@include between-breakpoints(0, $phone-landscape-width) {
		@include transition(all, 0.2s, ease);
	}

	@include breakpoint(tablet) {
		left: 12px;
		margin: 0;
		position: absolute;
		top: 12px;
		width: 100px;
		z-index: 2;
	}

	@include breakpoint(tablet-landscape) {
		margin: 18px 10px 0 0;
		position: static;
		width: 100px;
	}

	@include breakpoint(desktop) {
		width: 150px;
	}
}



/* Main menu */
.main-menu {
	background: #f8f8f8;
	display: block;
	height: 100%;
	left: -100%;
	position: absolute;
	text-align: left;
	top: 0;
	width: $mobile-menu-width;

	// This prevents the menu from animating when the screen width changes from phone-landscape to tablet.
	@include between-breakpoints(0, $tablet-width - 20) {
		@include transition(left, 0.2s, ease-in-out);
	}
}

.main-menu li {
	display: block;

	a {
		color: #aaa;
		display: inline-block;
		padding: 15px 20px;
		width: 100%;

		span {
			display: inline-block;
			margin: 3px 0 0 8px;
			vertical-align: top;
		}
	}

	&.current {
		a {
			background: #fff;
			color: #666;
		}
	}
}


/* Tablet  */
@include breakpoint(tablet) {
	.site-header {
		background: rgba(255,255,255,0.97);
		height: 100%;
		position: fixed;

		//@include opacity(0.97);
		//@include gradient(#f8f8f8, #fff);
	}

	.main-menu {
		display: block;
		left: 0;
		padding: 75px 0 0 0;
		position: absolute;
		text-align: center;
		top: 0;
		width: $tablet-menu-width;
		
		li a {
			width: 100%;

			span {
				display: block;
				margin: 0;
			}
		}
	}
}

@include breakpoint(tablet-landscape) {
	.site-header {
		height: $tablet-landscape-menu-height;
		position: fixed;
		width: 100%;

		@include transition(all, 0.2s, ease-in-out);
	}

	.site-header .logo {
		@include transition(all, 0.2s, ease-in-out);
	}

	.main-menu {
		background: none;
		display: inline-block;
		margin: 10px 0 0 0;
		padding: 0;
		position: static;
		width: auto;

		@include transition(all, 0.2s, ease-in-out);

		li {
			background: none;
			display: inline-block;
			margin: 0;

			a {
				background: none;

				span {
					float: left;
					margin: 2px 0 0 8px;
				}
			}
		}
	}

	.site-header.user-has-scrolled {
		height: 66px;

		@include box-shadow(0, 2px, 10px, rgba(0, 0, 0, 0.04));

		.logo {
			height: 36px;
			line-height: 2.1em;
			margin-top: 14px;

			@include rounded(18px);
		}

		.main-menu {
			margin-top: 5px;

			li a {
				padding: 10px 20px;
			}
		}
	}
}







