//
//---------------------------------
//	MAIN MENU
//---------------------------------
//
.site-header {
	display: block;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	width: $phone-header-width;
	z-index: 3;
}

.main-menu {
	background: $color-nav-bg;
	display: none;
	font-size: $nav-font-size;
	font-weight: normal;
	height: 100%;
	left: -100%;
	margin-top: 70px;
	position: fixed;
	text-align: left;
	top: 0;
	width: $phone-menu-width;
}

.main-menu li {
	display: block;
}

.main-menu li	a {
	color: $color-nav-text;
	display: inline-block;
	padding: 15px 20px;
	width: 100%;

	.icon {
		display: inline-block;
		@include opacity($nav-inactive-opacity);
	}

	span {
		display: inline-block;
		margin: 5px 0 0 8px;
		vertical-align: top;
	}
}

.main-menu li.current a {
	background: $color-nav-current-bg;
	color: $color-nav-current-text;
	font-weight: bold;

	.icon {
		@include opacity(1);
	}
}

//
//---------------------------------
//	PHONE
//---------------------------------
//
// Adds a transition for just phone sizes.
@include between-breakpoints(0, ($tablet-width - 20)) {
	.main-menu {
		@include transition(all, 0.1s, ease-in-out);
	}
}

//
//---------------------------------
//	TABLET
//---------------------------------
//
@include breakpoint(tablet) {
	.site-header {
		background: #444;
		height: 100%;
		position: fixed;
		width: $tablet-menu-width;
	}

	.main-menu {
		display: block;
		font-size: $nav-font-size-tablet;
		left: 0;
		margin: 0;
		padding: 125px 0 0 0;
		position: absolute;
		text-align: center;
		top: 0;
		width: $tablet-menu-width;
		//@include box-shadow-inset(-10px, 0, 10px, rgba(0,0,0,0.2));
		
		li a {
			padding: 20px;
			width: 100%;

			span {
				display: block;
				margin: 5px 0 0 0;
			}

			.icon {
				vertical-align: top;
			}
		}
	}
}


//
//---------------------------------
//	TABLET LANDSCAPE
//---------------------------------
//
@include breakpoint(tablet-landscape) {
	.site-header {
		background: none;
		height: auto;
		position: absolute;
		width: $tablet-landscape-header-width;
	}

	.main-menu {
		background: none;
		display: inline-block;
		float: right;
		font-size: $nav-font-size-desktop;
		margin: $tablet-landscape-container-padding $tablet-landscape-container-padding 0 0;
		padding: 0;
		position: static;
		width: auto;
		//@include transition(all, 0.2s, ease-in-out);
	}

	.main-menu li {
		background: none;
		display: inline-block;
		margin: 0;
	}

	.main-menu li	a {
		background: none;
		color: $color-nav-text-desktop;
		padding: 15px 10px;

		.icon {
			display: none;
		}

		span {
			float: left;
			margin: 2px 0 0 8px;
		}
	}

	.main-menu li.current a {
		background: none;
		color: $color-nav-current-text-desktop;
		
		span {
			font-weight: bold;		
		}
	}
}


//
//---------------------------------
//	DESKTOP
//---------------------------------
//
@include breakpoint(desktop) {
	.main-menu {
		margin: $desktop-container-padding $desktop-container-padding 0 0;
	}
}



//
//---------------------------------
//	STICKY HEADER
//---------------------------------
//
@include breakpoint(tablet-landscape) {
	// Sticky header. This handles the sticky header changing appearance once the user scrolls down.
	.site-header.user-has-scrolled {
		background: rgba(255,255,255,0.96);
		height: 66px;
		position: fixed;
		@include box-shadow(2px, 0, 10px, rgba(0, 0, 0, 0.04));

		.main-menu {
			margin-top: 5px;

			li a {
				padding: 10px 10px;
			}
		}
	}

	// Handles header CSS for when page content is dark / light.
	.body-bg-dark .user-has-scrolled {
		background: rgba(0, 0, 0, 0.7);
	}

	.body-bg-dark {
		.main-menu li a {
			color: #ccc;
			color: rgba(255,255,255, 0.5);
		}
		.main-menu li.current a {
			color: #fff;
			color: rgba(255,255,255, 0.9);
		}
	}

} /* end of tablet-landscape breakpoint */









