//
//---------------------------------
//	SECTIONS
//---------------------------------
//
section {
	position: relative;
	text-align: center;
	width: 100%;
}

@include breakpoint(phone) {
	section {
		//padding-bottom: $phone-container-padding;
	}
}
@include breakpoint(phone-landscape) {
	section {
		//padding-bottom: $phone-landscape-container-padding;
	}
}
@include breakpoint(tablet) {
	section {
		padding: 0;
		padding-left: $tablet-menu-width;
	}
	section .container {
		padding: $tablet-container-padding;
	}
}
@include breakpoint(tablet-landscape) {
	section {
		padding: 0;
		//padding-bottom: $tablet-landscape-container-padding;
	}
}
@include breakpoint(desktop) {
	section {
		//padding-bottom: $desktop-container-padding;
	}
}


//
//---------------------------------
//	CONTAINERS
//---------------------------------
//
.container {
	margin: 0 auto;
	padding: $phone-container-padding;
	text-align: center;
	width: $default-container-width;
}

// Pad the top of the first <section>'s container.
section:nth-of-type(1) .container {
	padding-top: $phone-container-padding * 3;
}

@include breakpoint(tablet) {
	.container {
		padding: $tablet-container-padding 0;
		padding-left: $tablet-menu-width + $tablet-container-padding;
	}
	section:nth-of-type(1) .container {
		padding-top: $tablet-container-padding * 4;
	}
}

@include breakpoint(tablet-landscape) {
	.container {
		padding: $tablet-landscape-container-padding 0;
		width: $tablet-landscape-container-width;
	}
	section:nth-of-type(1) .container {
		padding-top: ($tablet-landscape-container-padding * 3) + $tablet-landscape-menu-height;
	}
}

@include breakpoint(desktop) {
	.container {
		padding: ($desktop-container-padding * 2) 0;
		width: $desktop-container-width;
	}
	section:nth-of-type(1) .container {
		padding-top: ($desktop-container-padding * 3) + $desktop-menu-height;
	}
}







