//
//---------------------------------
//	LOGO - HEADER
//---------------------------------
//
.site-header .logo {
	
	display: inline-block;
	height: 50px;
	margin-top: ($phone-menu-spacing * 4);
	text-indent: -20000px;
	width: 80px;
	@include retinise('logo-gm', 'png', 80px, 50px);
	
	.body-bg-dark & {
		@include retinise('logo-gm-ondark', 'png', 80px, 50px);		
	}
	
	display: inline-block;
	height: 50px;
	margin-top: ($phone-menu-spacing * 4);
	text-indent: -20000px;
	width: 170px;
	@include retinise('logo-mobile', 'png', 170px, 50px);

	.body-bg-dark & {
		@include retinise('logo-mobile-ondark', 'png', 170px, 50px);		
	}

	@include breakpoint(phone-landscape) {
		height: 70px;
		width: 234px;
		@include retinise('logo-desktop', 'png', 234px, 70px);

		.body-bg-dark & {
			@include retinise('logo-desktop-ondark', 'png', 234px, 70px);			
		}
	}

	// Tablet.
	@include breakpoint(tablet) {
		background: none;
		height: 125px;
		left: 0;
		margin: 0;
		position: absolute;
		top: 0;
		width: 125px;
		z-index: 2;
		@include retinise('logo-tablet', 'png', 125px, 125px);

		.body-bg-dark & {
			@include retinise('logo-tablet', 'png', 125px, 125px);
		}
	}

	// Tablet-landscape.
	@include breakpoint(tablet-landscape) {
		float: left;
		height: 50px;
		margin: ($tablet-landscape-container-padding + 5) 0 0 $tablet-landscape-container-padding;
		position: static;
		width: 80px;
		@include opacity(0.5);
		@include retinise('logo-gm', 'png', 80px, 50px);
		@include transition(opacity, 0.2s, ease-in-out);

		.body-bg-dark & {
			@include retinise('logo-gm-ondark', 'png', 80px, 50px);
		}
		/*
		float: left;
		height: 70px;
		margin: ($tablet-landscape-container-padding + 10) 0 0 $tablet-landscape-container-padding;
		position: static;
		width: 234px;
		@include retinise('logo-desktop', 'png', 234px, 70px);

		.body-bg-dark & {
			@include retinise('logo-desktop-ondark', 'png', 234px, 70px);			
		}
		*/
	}

	@include breakpoint(desktop) {
		margin-left: $desktop-container-padding 0 0 $desktop-container-padding;
	}
} // .site-header .logo


// Handles the sticky nav bar.
@include breakpoint(tablet-landscape) {
	.site-header.user-has-scrolled .logo {
		height: 50px;
		margin-top: 8px;
		width: 80px;
		@include opacity(0.7);
		@include retinise('logo-gm', 'png', 80px, 50px);
	}

	.body-bg-dark .site-header.user-has-scrolled .logo {
		@include retinise('logo-gm-ondark', 'png', 80px, 50px);
	}

	.site-header .logo:hover {
			@include opacity(1);
		}
}






