.btn-mobile-menu {
	display: block;
	height: 48px;
	left: $phone-menu-spacing;
	position: fixed;
	text-indent: -10000px;
	top: $phone-menu-spacing;
	width: 48px;
	z-index: 2;
	@include rounded(10px);
	//@include transition(all, 0.2s, ease-in-out);

	.icon {
		display: block;
		margin: 8px auto;
	}

	@include breakpoint(tablet) {
		// Hide for tablet sized and above (768px).
		display: none;
	}
}


// The .show-mobile-menu class is added to <body> when the .btn-mobile-menu is clicked.
.show-mobile-menu .btn-mobile-menu {
	left: $phone-menu-width;
	margin-left: $phone-menu-spacing;
}

.show-mobile-menu nav.main-menu {
	display: block;
	left: 0;
}

.show-mobile-menu .logo {
	@include opacity(0);
}


// This is the opaque cover which when clicked hides the menu.
.mobile-container-cover {
	background: rgba(0,0,0,0.5);
	display: block;
	position: fixed;
	right: -25%;
	top: 0;

	@include transition(all, 0.2s, ease-in-out);
}

.show-mobile-menu .mobile-container-cover {
	height: 100%;
	right: 0;
	width: 100% - $phone-menu-width;
	z-index: 2;
}









