// Hamburger menu.
.btn-mobile-menu {
	display: block;
	height: 48px;
	left: $phone-menu-spacing;
	position: fixed;
	text-align: left;
	top: $phone-menu-spacing;
	width: 48px;
	z-index: 2;
	//@include transition(all, 0.2s, ease-in-out);

	.icon {
		display: inline-block;
		margin: 8px;
	}

	span {
		color: rgba(255,255,255,0);
		display: none;
		font-size: $nav-font-size * 0.75;
		font-weight: bold;
		padding: 14px 0 0 0;
		//@include transition(all, 0.2s, ease);
	}
}

// Hide menu for tablet size and above.
@include breakpoint(tablet) {
	.btn-mobile-menu {
		display: none;
	}
}

@include between-breakpoints(0, 400px) {
	.btn-mobile-menu {
		left: 5px;
		top: 5px;
	}
	.main-menu {
		margin-top: 60px;
	}
}


// The .show-mobile-menu class is added to <body> when .btn-mobile-menu is clicked.
.show-mobile-menu .site-header {
	width: auto;
}
.show-mobile-menu .btn-mobile-menu { 
	width: 200px;
	@include opacity(0.75);

	span {
		color: rgba(255,255,255,0.75);
		display: inline-block;
		vertical-align: top;
	}
}
.show-mobile-menu .main-menu {
	display: block;
	left: 0;
}

.show-mobile-menu .logo {
	@include opacity(0);
}




.wrap {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}



// This is the opaque cover which when clicked hides the menu.
.mobile-container-cover {
	background: rgba(0,0,0,0);
	display: block;
	position: fixed;
	right: -25%;
	top: 0;
	@include transition(background, 0.1s, ease-in-out);
}

.show-mobile-menu .mobile-container-cover {
	background: rgba(0,0,0,0.75);
	height: 100%;
	right: 0;
	width: 100%;
	z-index: 2;
}









