// Hamburger menu.
.btn-mobile-menu {
	display: block;
	height: 48px;
	left: $phone-menu-spacing;
	position: fixed;
	text-align: left;
	top: $phone-menu-spacing;
	width: 48px;
	z-index: 2;
	//@include transition(all, 0.2s, ease-in-out);

	.icon {
		display: inline-block;
		margin: 8px;
	}

	span {
		color: rgba(255,255,255,0.75);
		display: none;
		font-size: $nav-font-size * 0.75;
		padding: 14px 0 0 0;
	}

	@include breakpoint(tablet) {
		// Hide for tablet size and above.
		display: none;
	}
}


// The .show-mobile-menu class is added to <body> when .btn-mobile-menu is clicked.
.show-mobile-menu .btn-mobile-menu { 
	width: 200px;

	span {
		display: inline-block;
		vertical-align: top;
	}
}
.show-mobile-menu nav.main-menu {
	display: block;
	left: 0;
}

.show-mobile-menu .logo {
	@include opacity(0);
}



.wrap {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	//@include transition(all, 0.2s, ease-in-out);
}
.show-mobile-menu .wrap {
	left: $phone-menu-width;
}



// This is the opaque cover which when clicked hides the menu.
.mobile-container-cover {
	background: rgba(0,0,0,0.75);
	display: block;
	position: fixed;
	right: -25%;
	top: 0;

	//@include transition(all, 0.2s, ease-in-out);
}

.show-mobile-menu .mobile-container-cover {
	height: 100%;
	right: 0;
	width: 100% - $phone-menu-width;
	z-index: 2;
}









