body {
	font-family: helvetica, verdana, sans-serif;
	font-size: 16px;
	line-height: 1.4;
}

h1 {
	font-size: 36px;
	//line-height: 1.2em;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}

h4 {

}

h5 {

}

h6 {

}