@import "_variables.scss";
@import "_mixins.scss";
@import "_media-queries.scss";

body {
	color: #444;
	font-family: helvetica, verdana, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

*, :after, :before, ::before, ::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


header.site-header {
	display: block;
	margin: 0 auto;
	text-align: center;
}


.btn-mobile-menu {
	background: #ccc;
	color: rgba(255,255,255,0.9);
	display: block;
	font-size: 36px;
	height: 48px;
	left: 10px;
	position: fixed;
	top: 10px;
	width: 48px;
	z-index: 2;

	@include rounded(10px);
	@include transition(all, 0.2s, ease);

	@include breakpoint(tablet) {
		// Hide for tablet sized and above (768px).
		display: none;
	}
}

.show-mobile-menu .btn-mobile-menu {
	left: 75%;
	margin-left: 10px;
}

.show-mobile-menu nav.main-menu {
	display: block;
	left: 0;
}

.show-mobile-menu .logo {
	@include opacity(0);
}


/* LOGO */
header.site-header {
	.logo {
		background: #ccc;
		color: #fff;
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
		height: 48px;
		line-height: 2.8em;
		margin: 10px 0 0 0;
		text-transform: uppercase;
		vertical-align: top;
		width: 150px;
		@include rounded(24px);
		@include transition(all, 0.2s, ease);

		@include breakpoint(tablet) {
			left: 12px;
			margin: 0;
			position: absolute;
			top: 12px;
			width: 100px;
			z-index: 2;
		}

		@include breakpoint(tablet-landscape) {
			margin: 15px 10px 0 0;
			position: static;
			width: 150px;
		}
	}
}


nav.main-menu {
	background: #f8f8f8;
	display: block;
	height: 100%;
	left: -100%;
	position: absolute;
	text-align: left;
	top: 0;
	width: 75%;
	@include transition(left, 0.2s, ease);

	li {
		background: #f8f8f8;
		display: block;

		a {
			background: #eee;
			color: #aaa;
			display: inline-block;
			padding: 15px 20px;
			width: 100%;

			i {
				background: #ccc;
				display: inline-block;
				height: 32px;
				width: 32px;
				@include rounded(16px);
			}

			span {
				display: inline-block;
				margin: 8px 0 0 8px;
				vertical-align: top;
			}
		}
	}

	li.current {
		a {
			background: #fff;
			color: #666;

			i {
				background: #888;
			}
		}
	}
}

@include breakpoint(tablet) {
	nav.main-menu {
		display: block;
		left: 0;
		padding: 75px 0 0 0;
		position: absolute;
		text-align: center;
		top: 0;
		width: 125px;
		

		a {
			width: 100%;

			span {
				display: block;
				margin: 0;
			}
		}
	}
}

@include breakpoint(tablet-landscape) {
	nav.main-menu {
		background: none;
		display: inline-block;
		margin: 10px 0 0 0;
		padding: 0;
		position: static;
		width: auto;

		li {
			background: none;
			display: inline-block;
			margin: 0;

			a {
				background: none;

				i {
					float: left;
				}

				span {
					float: left;
					margin: 8px 0 0 8px;
				}
			}
		}
	}
}


@include breakpoint(tablet) {
	.container-main-content {
		padding-left: 125px;
	}
}

@include breakpoint(tablet-landscape) {
	.container-main-content {
		padding-left: 0;
	}
}

.container-cover {
	background: rgba(0,0,0,0.5);
	display: block;
	position: absolute;
	right: -25%;
	top: 0;

	@include transition(all, 0.2s, ease);
}

.show-mobile-menu .container-cover {
	height: 2000px;
	right: 0;
	width: 25%;
	@include transition(all, 0.2s, ease);
}











