//
//---------------------------------
//	GENERAL
//---------------------------------
//
@include between-breakpoints(0, $tablet-width - 1) {
	.body-about .site-header .logo {
		margin-top: 70px;
	}
}

//
//---------------------------------
//	INTRO
//---------------------------------
//
#about-intro {
	background: #fff url('../img/bg-about.jpg') no-repeat top center;
	padding-bottom: 0;
	@include background-size(100%, auto);

	.container, .grid-pad {
		padding-bottom: 0;
	}

	// This affects my personal mark logo.
	img {
		max-width: 70%;
	}
}

//
//---------------------------------
//	DETAILS
//---------------------------------
//
#about-details {
	padding: 0;

	.container {
		padding-top: 0;
	}

	.icon-social {
		display: inline-block;
		margin: 0 10px 10px 0;
	}
}

//
//---------------------------------
//	ABOUT
//---------------------------------
//
.body-about .dribbble {
	padding-top: 0;
}

//
//---------------------------------
//	RESPONSIVE
//---------------------------------
//
// Phone only.
@include between-breakpoints(0, $tablet-width - 1) {
	#about-intro .container {
		padding-top: $phone-container-padding * 2;
	}
}
// Phone.
@include breakpoint (phone) {
	#about-intro {
		padding-bottom: 100px;
		@include background-size(150%, auto);
	}

	#about-details {
		.container, .container p {
			text-align: center;
		}

		.container h1 {
			padding-bottom: 0;
		}

		.container .lead {
			padding-bottom: .5em;
		}

		.grid-pad {
			margin-top: 0;
		}

		.about-details-selfie img {
			margin-top: -40%;
			max-width: 70%;
		}
	}
}

// Tablet.
@include breakpoint (tablet) {
	#about-intro {
		padding-bottom: 0;
		@include background-size(100%, auto);

		.container {
			text-align: left;
		}
	}

	#about-details {
		padding-left: $tablet-menu-width;

		.container, .container .lead {
			text-align: left;
		}

		.about-details-selfie {
			position: relative;

			img {
				margin-top: 0;
				max-width: 90%;
				position: absolute;
				top: -100px;
			}
		}
	}
}

// iPad portrait.
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
	#about-intro {
		background-position: center;

		.container {
			padding-top: 200px;
		}
	}

	#about-details {
		h1 {
			font-size: 36px;
		}

		.lead {
			font-size: 30px;
		}
	}

	#about-details .icon-social {
		margin: 0 20px 20px 0;
	}
}

// iPad landscape.
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
	#about-intro {
		background-position: center;
	}

	#about-intro .container {
		padding-top: 50px;
	}

	#about-details .about-details-selfie img {
		top: -120px;
	}
}

// Tablet-landscape.
@include breakpoint (tablet-landscape) {
	#about-intro {
		@include background-size(100%, auto);
	}

	#about-details {
		padding: 0;
		
		.about-details-selfie {
			img {
				top: -140px;
				margin-left: 10%;
				max-width: 70%;
			}
		}
	}
}









