//
//---------------------------------
//	INTRO
//---------------------------------
//
#contact-intro {
	background: $color-contact-bg url('../img/bg-contact.jpg') no-repeat top center;
	background-attachment: fixed;
	height: 100%;
	padding-bottom: 100px;
	width: 100%;
	@include background-size(150%, auto);

	h1 {
		padding-bottom: 0.1em;
	}

	p {
		text-align: center;
	}

	input {
		font-size: 18px;
		font-weight: 100;
		text-align: center;
		width: 100%;
	}

	small {
		display: none;
	}
}

//
//---------------------------------
//	RESPONSIVE
//---------------------------------
//
// Phone only.
@include between-breakpoints(0, $tablet-width - 1) {
	.body-contact .site-header .logo {
		display: none;
	}

	#contact-intro h1 {
		font-size: 30px;
	}
}

// Tablet.
@include breakpoint(tablet) {
	#contact-intro {
		@include background-size(100%, auto);

		.container {
			padding-top: 25%;
		}

		input {
			font-size: $body-font-size;
			width: 100%;
		}
	}
}

// iPad portrait.
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
	#contact-intro {
		.container {
			padding-top: 450px;
		}
	}
}

// iPad landscape.
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
	#contact-intro {
		.container {
			padding-top: 150px;
		}
	}
}

// Tablet-landscape.
@include breakpoint(tablet-landscape) {
	#contact-intro {
		.container {
			padding-top: 20%;
		}

		input {
			width: 75%%;
		}

		small {
			color: #fff;
			display: block;
			margin: 20px 0 0 0;
			@include opacity(0.5);

			a {
				font-weight: 100;
				text-decoration: none;
			}
		}
	}
}

@include breakpoint(desktop) {
	#contact-intro .container {
		padding-top: 15%;
	}
}






