#homepage {
	//background: #25476a url(../img/bg-homepage.jpg) no-repeat center -150px;
	background: #1d2935 url('../img/bg-homepage.jpg') no-repeat center -150px;
	background-attachment: fixed;
	height: 100%;
	@include background-size(100%, auto);
}

#homepage .container {
	height: 100%;
	position: relative;
	width: 100%;
}

#homepage .container h1 {
	margin-top: 15%;
}

#homepage .container p {
	text-align: center;
}

@include between-breakpoints(0, $tablet-width) {
	#homepage {
		background-position: center top;
	}

	#homepage h1 {
		font-size: $h2-size * $font-size-phone;
	}

	#homepage .lead {
		font-size: $body-font-size-phone;
	}
}

// Between phone-landscape and tablet-width.
@include between-breakpoints($phone-landscape-width, $tablet-width) {
	#homepage h1 {
		font-size: $h2-size * $font-size-tablet;
	}

	#homepage .lead {
		font-size: $body-font-size-tablet;
	}
}

// Between tablet and tablet-landscape.
@include between-breakpoints($tablet-width, $tablet-landscape-width - 1) {
	#homepage {
		background-position: 70px -100px;
	}

	#homepage h1 {
		font-size: $h2-size * $font-size-tablet;
	}

	#homepage .lead {
		font-size: $body-font-size-tablet;
	}
}

// iPad portrait.
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
	#homepage {
		background-position: -125px top;
		@include background-size(150%, auto);

		.container h1 {
			font-size: 32px;
			margin-top: 500px;
		}
	}
}

// iPad landscape.
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
	#homepage {
		//background-position: -115px top;
		//@include background-size(150%, auto);

		.container h1 {
			font-size: 32px;
			margin-top: 250px;
		}
	}
}

@include breakpoint(tablet-landscape) {
	#homepage h1 {
		font-size: $h2-size;
	}

	#homepage .lead {
		font-size: $body-font-size;
	}
}















