#homepage {
	//background: #25476a url(../img/bg-homepage.jpg) no-repeat center -150px;
	background: #1d2935 url('../img/bg-homepage.jpg') no-repeat center -150px;
	background-attachment: fixed;
	height: 100%;
	@include background-size(100%, auto);
}

#homepage .container {
	height: 100%;
	position: relative;
	width: 100%;
}
#homepage .container h1 {
	margin-top: 15%;
}
#homepage .container p {
	text-align: center;
}
/*
#homepage h1 {
	top: 45%;
	color: rgba(255,255,255,0.8);
	font-weight: 100;
	left: 0;
	position: absolute;
	width: 100%;
}

#homepage .lead {
	top: 60%;
	color: rgba(255,255,255,0.4);
	left: 0;
	position: absolute;
	width: 100%;
}

#homepage .btn {
	left: 40%;
	position: absolute;
	top: 75%;
}
*/

@include between-breakpoints(0, $tablet-width) {
	#homepage {
		background-position: center top;
	}

	#homepage h1 {
		font-size: $h2-size * $font-size-phone;
	}
	#homepage .lead {
		font-size: $body-font-size-phone;
	}
}

@include between-breakpoints($phone-landscape-width, $tablet-width) {
	#homepage h1 {
		font-size: $h2-size * $font-size-tablet;
	}
	#homepage .lead {
		font-size: $body-font-size-tablet;
	}
}


@include between-breakpoints($tablet-width, $tablet-landscape-width) {
	#homepage {
		background-position: 70px -100px;
	}
	#homepage h1 {
		font-size: $h2-size * $font-size-tablet;
	}
	#homepage .lead {
		font-size: $body-font-size-tablet;
	}
}

@include breakpoint(tablet-landscape) {
	#homepage h1 {
		font-size: $h2-size;
	}
	#homepage .lead {
		font-size: $body-font-size;
	}
}















