//
//---------------------------------
//	FIGURE
//---------------------------------
//
// This is used for both Dribbble and Instagram.
a.figure {
	display: block;
	margin-bottom: 20px;
}
.no-padding a.figure {
	margin-bottom: 0;
}
a.figure img {
	display: block;
}
a.figure figure {
	overflow: hidden;
	position: relative;
}
a.figure figcaption {
	background: rgba(0,0,0,0.75);
	bottom: -100%;
	color: #eee;
	color: rgba(255,255,255,0.8);
	font-size: 18px;
	padding: 15px;
	position: absolute;
	text-align: left;
	width: 100%;
	@include transition(all, 0.1s, ease-in-out);
}
a.figure figcaption small {
	color: #aaa;
	color: rgba(255,255,255,0.6);
	display: block;
}
a.figure:hover figcaption {
	bottom: 0;
}

@include between-breakpoints(0, $tablet-width - 1) {
	// This stretches the figures for phones so they are edge-to-edge.
	.no-padding a.figure img {
		width: 100%;
	}
}


//
//---------------------------------
//	DRIBBBLE & INSTAGRAM
//---------------------------------
//
@include between-breakpoints($tablet-width, $tablet-landscape-width - 1) {
	.dribbble, .instagram {
		.col-1-3 {
			width: 50%;
		}
	}
}


//
//---------------------------------
//	LAST.FM
//---------------------------------
//
.lastfm h3 small {
	display: block;
}

.lastfm {
	.rank {
		text-align: center;
		width: 10%;
	}

	.artist {
		font-weight: bold;
	}

	.plays {
		text-align: right;
		width: 14%;
	}
}

.lastfm table thead tr th, .lastfm small {
	font-size: 14px;
}

.lastfm {
	table {
		font-size: 18px;
		a {
			text-decoration: none;
		}

		.loader {
			height: 512px;
		}
	}
}

@include breakpoint(phone) {
	.lastfm {
		.last-12-months, .last-7-days {
			display: none;
		}
	}
}

@include breakpoint(phone-landscape) {
	.lastfm {
		.last-7-days {
			display: block;
		}
	}
}

@include breakpoint(tablet-landscape) {
	.lastfm .last-12-months {
		display: block;
	}
}













