//
//---------------------------------
//	INTRO
//---------------------------------
//
#nowapp-intro {
	background: $color-espn;
	padding-bottom: 0;
	
	.container {
		padding-bottom: 0;

		.grid {
			overflow: hidden;
			padding-bottom: 0;
			margin-bottom: 0;
		}

		img {
			display: block;
			margin-bottom: -20px;
		}
	}
}
#nowapp-intro .logo-espn {
	display: block;
	height: 65px;
	margin: 0 auto 10px auto;
	text-indent: -20000px;
	width: 250px;
	@include retinise('logo-espn', 'png', 250px, 65px);
}


//
//---------------------------------
//	BRANDING
//---------------------------------
//
#nowapp-brand .container, #nowapp-brand {
	padding-bottom: 0;
}

#nowapp-brand .now-app-silhouettes {
	.afl {
		background: $color-nowapp-afl;
	}
	.ale {
		background: $color-nowapp-ale;
	}
	.nrl {
		background: $color-nowapp-nrl;
	}
	.sru {
		background: $color-nowapp-sru;
	}
}

#nowapp-brand img {
	max-width: 80%;
}

#nowapp-brand .now-app-silhouettes {
	.afl, .ale, .nrl, .sru {
		padding: 75px 0;

		h3 {
			font-size: 33px;

			small {
				display: block; 
			}
		}
	}
}


//
//---------------------------------
//	SECTIONS
//---------------------------------
//
#nowapp-sections .nowapp-section-icons {
	padding-bottom: 50px;
}
#nowapp-sections .nowapp-section-icons [class*='col-'] {
	padding-bottom: 25px;
}
#nowapp-sections .nowapp-section-icons img {
	max-width: 50%;
}


//
//---------------------------------
//	CARDS
//---------------------------------
//
#nowapp-cards {
	background: #f5f5f5 url('../img/bg-cards.png') no-repeat center top;
	padding-top: 95%;
	@include background-size(100%, auto);
}


//
//---------------------------------
//	SKETCHING
//---------------------------------
//
#nowapp-sketching {
	background: 
		url('../img/bg-sketching-top.png') center top repeat-x,
		url('../img/bg-sketching-bottom.png') center bottom repeat-x,
		url('../img/bg-dots.png') repeat;
}


//
//---------------------------------
//	RESPONSIVE
//---------------------------------
//
@include between-breakpoints(0, ($tablet-width - 1)) {
	#nowapp-intro .logo-espn {
		height: 52px;
		width: 200px;
		@include retinise('logo-espn', 'png', 200px, 52px);
	}

	#nowapp-brand .now-app-silhouettes img {
		max-width: 60%;
	}
	#nowapp-brand .nowapp-app-icons {
		padding: 12% 12% 0 12%;
		
		[class*='col-'] {
			width: 50%;
		}
	}

	#nowapp-sections .nowapp-section-icons [class*='col-'] {
		width: 50%
	}
}

@include between-breakpoints($phone-landscape-width, ($tablet-width - 1)) {
	#nowapp-brand .now-app-silhouettes {
		.afl, .ale, .nrl, .sru {
			width: 50%;
		}
	}

	#nowapp-sections .nowapp-section-icons [class*='col-'] {
		width: 33.33%
	}
}

// Tablet.
@include breakpoint(tablet) {
	#nowapp-brand .grid {
		.afl, .ale, .nrl, .sru {
			padding: 50px 0 75px 0;

			h3 {
				font-size: 24px;
			}
		}
	}
	#nowapp-brand .nowapp-app-icons [class*='col-'] {
		margin-top: -4em;
	}

	#nowapp-cards {
		background-position: 60px top;
	}
}

// Targets tablets in portrait mode.
@include between-breakpoints($tablet-width, 875px) {
	#nowapp-brand .grid {
		.afl, .ale, .nrl, .sru {
			padding: 100px 0;

			h3 {
				font-size: 33px;
			}
		}
	}

	#nowapp-brand .nowapp-app-icons {
		padding: 12% 12% 0 12%;
		
		[class*='col-'] {
			width: 50%;
			margin-top: 0;
		}
	}

	#nowapp-brand .now-app-silhouettes {
		.afl, .ale, .nrl, .sru {
			width: 50%;
		}
	}

	#nowapp-sections .nowapp-section-icons [class*='col-'] {
		width: 33.33%
	}
}

// Tablet landscape.
@include breakpoint(tablet-landscape) {
	#nowapp-brand .grid {
		.afl, .ale, .nrl, .sru {
			padding: 100px 0;
		}
	}

	#nowapp-cards {
		background-position: center top;
	}
}

// Desktop.
@include breakpoint(desktop) {
	#nowapp-brand .grid {
		.afl, .ale, .nrl, .sru {
			h3 {
				font-size: $h3-size;
			}
		}
	}
}









