//
//---------------------------------
//	INTRO
//---------------------------------
//
#work-nowapp {
	background: $color-espn url('../img/bg-espn-mcg.jpg') no-repeat top center;
	background-attachment: fixed;
	height: auto;
	padding-bottom: 0;
	position: relative;
	width: 100%;
	@include background-size(100%, auto);

	.container {
		padding-bottom: 0;
		//padding-top: 50px;
	}

	.logo-espn-img {
		height: 52px;
		width: 200px;
		//@include retinise('logo-espn-small', 'png', 200px, 52px);
	}

	h1 {
		margin-top: .25em;
		padding-bottom: 0;
	}

	.work-nowapp-iphone img {
		display: block;
	}
}

//
//---------------------------------
//	DRIBBBLE
//---------------------------------
//
.body-work .dribbble {
	background: $color-gray-c;
}

//
//---------------------------------
//	RESPONSIVE
//---------------------------------
//
// Phone-only.
@include between-breakpoints(0, $phone-landscape-width - 1) {
	#work-nowapp {
		h1 {
			font-size: 24px;
		}

		.logo-espn-img {
			height: auto;
			max-width: 70%;
		}
	}
}

// Phone.
@include breakpoint(phone) {
	.body-work .site-header .logo {
		display: none;
	}

	#work-nowapp {
		.logo-espn {
			margin: 0 auto;
		}

		.text-left, p {
			text-align: center;
		}

		.work-nowapp-iphone img {
			padding-left: 17%;
		}
	}

	#work-nowapp .btn {
		margin-bottom: 8%;
	}
}

// Tablet.
@include breakpoint(tablet) {
	.body-work .site-header .logo {
		display: block;
	}

	#work-nowapp {
		height: 100%;

		.container {
			//padding-top: 125px;
		}

		.logo-espn {
			margin: 0;
		}

		.text-left, p {
			text-align: left;
		}
	}

	#work-nowapp .btn {
		margin-bottom: 0;
	}

	#work-nowapp {
		.work-nowapp-iphone {
			bottom: 0;
			position: absolute;
			right: 0;

			img {
				padding: 0;
			}
		}
	}
}

// iPad portrait.
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
	#work-nowapp {
		@include background-size(125%, auto);
	}

	#work-nowapp .container {
		padding-top: 75px;
	}

	#work-nowapp {
		.work-nowapp-title {
			margin-left: 0;
			text-align: center;
			width: 100%;

			p {
				padding: 0 12.5% 0.5em;
				text-align: center;
			}
		}

		.work-nowapp-iphone {
			margin-top: 50px;
			position: static;
			width: 100%;

			img {
				margin: 0 auto;
				padding-left: 12%;
				width: 80%;
			}
		}
	}
}

// Tablet-landscape.
@include breakpoint (tablet-landscape) {
	#work-nowapp {
		.container {
			//padding-top: 200px;
		}

		.logo-espn-img {
			margin: 40px 0 0 0;
		}

		.text-left {
			text-align: left;
		}
		.work-nowapp-iphone img {
			max-width: 75%;
		}
	}
}













